.container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.imageContainer {
    flex: 1;
    position: relative;
    height: 500px;
}

.contactImg {
    object-fit: contain;
}

.subtitle {
    font-size: 54px;
    margin-bottom: 3rem;
    color: var(--btn);
}

.title {
    font-size: 54px;
    margin-bottom: 2rem;
}

.description {
    font-size: 20px;
    font-weight: 300;
    line-height: 35px;
}
.description + .description {
    margin-top: 1rem;
}
.description:last-child {
    margin-bottom: 0;
}

.description a {
    text-decoration: underline;
}
.description a:hover {
    text-decoration: none;
}

.formContainer {
    flex: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form input, 
.form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--bgSoft);
    color: var(--text);
}

.form button {
    padding: 20px;
    background-color: var(--btn);
    color: var(--text);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}